<style type="text/css">  
.imgupload-form{
  	min-width:1000px;
  	width:100%;
}
.form-title{
	text-align: center;
}
.formgroup{
	width:100%;
	padding: 20px 0;
}
.textinfo, .lookbtn{
	display: inline-block;
	width:15%;
}
.old-img{
	display: inline-block;
	vertical-align: middle;
}
.new-img{
	width:200px;
	height:200px;
	overflow: hidden;
	border:1px solid #999;
	display: inline-block;
	vertical-align: middle;
	margin-left:50px;
}
</style>  

<div class="imgupload-form">
	<h1 class="form-title">图片操作</h1>
  	<form id="form-all" method="post" enctype="multipart/form-data" action="/jcrop" autocomplete ='off'>
  		<div class="formgroup J_preview" style="display:none;">
  			<div class="old-img"></div>
      		<div class="new-img"></div>
  		</div>
  		<div class="formgroup J_preview" style="display:none;">
  			<label>
  				X1 <input type="text" size="4" class="cor-x1" name="x1" />
				</label>
  			<label>
  				Y1 <input type="text" size="4" class="cor-y1" name="y1" />
				</label>
  			<label>
  				W <input type="text" size="4" class="cor-w" name="imgw" />
				</label>
  			<label>
  				H <input type="text" size="4" class="cor-h" name="imgh" />
				</label>
  			<label>
  				X2 <input type="text" size="4" class="cor-x2" name="x2" />
				</label>
  			<label>
  				Y2 <input type="text" size="4" class="cor-y2" name="y2" />
				</label>
  		</div>
  		<div class="formgroup">
      		<div class="textinfo">选择图片：</div>
      		<div class="lookbtn">
      			<input type="file" class="upload-img" name="img"/>  
      		</div>
  		</div>
  		<div class="formgroup">
  			<input type="submit" class="submit-btn" value="提交">
  		</div>
  	</form>
</div>

<script type="text/javascript">  

var imgw, imgh;
$(document.body).delegate('.submit-btn', 'click', function(event) {
	$('#form-all').ajaxForm({
		url: $('.form-all').attr('action'),
		type: 'POST',
		success: function(res, status, xhr, $form) {
			if(res==200){
				location.reload();
			}else{
				alert(res);
			}
			$('.form-all').clearForm();
		},
		error: function(res, status, err) {
			alert('系统出现故障，请稍后再试！');
			$('.form-all').clearForm();
		}
	});
});

$(document.body).delegate('.upload-img', 'change', function(event) {
	preview($(this).get(0));
});

function preview(file)  
{  
	var oldimg = $('.old-img'),
		newimg=$('.new-img'),
		previewDiv=$('.J_preview');

	previewDiv.show();
   	if (file.files && file.files[0])  
   	{  
     	var reader = new FileReader();  
     	reader.onload = function(evt){  
	     	oldimg.html('<img id="cropbox" src="' + evt.target.result + '" />');  
	     	var imagezy = new Image();
	     	imagezy.src = evt.target.result;
	     	imagezy.onload=function(){
		        imgw=imagezy.width;
		        imgh=imagezy.height;
		        newimg.html('<img src="'+imagezy.src+'">');
		        $('#cropbox').Jcrop({
		           	onChange: showPreview,
		           	onSelect: showPreview,
		           	setSelect: [ 100, 100, 200, 200 ],
		           	aspectRatio: 1
		     	});
	 		} 
    	}   
  		reader.readAsDataURL(file.files[0]);  
    }else{  
       	oldimg.html('<div id="cropbox" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>');  
        var imagezy = new Image();
        imagezy.src = file.value ;
        imagezy.onload=function(){
	       	imgw=imagezy.width;
	       	imgh=imagezy.height;
	       	newimg.html('<img src="'+imagezy.src+'">');
	       	$('#cropbox').Jcrop({
		      	onChange: showPreview,
		      	onSelect: showPreview,
		      	setSelect: [ 100, 100, 200, 200 ],
		      	aspectRatio: 1
		    });
		} 
	}  
}  

function showPreview(coords)
{
    $('.cor-x1').val(coords.x);
    $('.cor-y1').val(coords.y);
    $('.cor-w').val(coords.w);
    $('.cor-h').val(coords.h);
    $('.cor-x2').val(coords.x2);
    $('.cor-y2').val(coords.y2);

    if (parseInt(coords.w) > 0)
    {
      	var rx = 200 / coords.w;
  		var ry = 200 / coords.h;
      	$('.new-img img').css({
        	width: Math.round(rx * imgw) + 'px',
            height: Math.round(ry * imgh) + 'px',
            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
            marginTop: '-' + Math.round(ry * coords.y) + 'px'
      	});
    }
}

</script>  
