<!DOCTYPE HTML>
<html>
  	<head>
    	<title><%= title %></title>
     	<link href="/stylesheets/jquery.Jcrop.css" rel="stylesheet" type="text/css"/>
     	<script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/ajaxform.js"></script>
      <script src="/javascripts/jquery.Jcrop.js"></script>
    </head>
  	<body>
  	
	    <%- body %>

 	 </body>
</html>
